/* ---------- CSS Variables - Colors & Sizing ---------- */
:root {
    --background: #000000;
    --font: "8bitoperator JVE2";
    --secondary-font: "8 Bit Operator";
    --tertiaty-font: "Crypt of Tomorrow";
    --h1: #ffdf7e;
    --h2: #ffff00;
    --h3: #ffa040;
    --link-default: #ffffff;
    --link-alt: #a5a5a5;
    --link-hover: #ffff00;
    --font-color: #ffffff;
    --faint-text: #808080;
    --textarea: #202020;
    --font-tiny: 80%;
    --font-very-tiny: 50%;
    --cursor-main: url(../assets/img/souls/heart.png) 10 5, auto;
    --cursor-blur: url(../assets/img/souls/heart_blur.png) 20 12, auto;
    --cursor-break: url(../assets/img/souls/heart_break.png) 12 5, auto;
    --cursor-alt: url(../assets/img/souls/heart_yellow.png) 10 5, auto;
    --cursor-break-alt: url(../assets/img/souls/heart_yellow_break.png) 12 5, auto;
    --text-shadow: 2px 2px #0f0f71;
    --text-shadow-hover: 2px 2px #710f57;
    --text-shadow-footer: 2px 2px #333333;
    --border-color: #0f0f71;

    /* Deltarune Colors */
    --tp: #ffa040;
    --unselected: #614e6b;

    /* Team Colors */
    --katebulka: #FF69B4;
    --lvoid: #1E90FF;
    --mim: #696969;
    --rata: #00CED1;
    --kittblush: #8A2BE2;
    --eribetra: #6495ED;
    --marbles: #FF6347;
    --jaru: #483D8B;
    --lisspeed: #20B2AA;
    --wiltzy: #B0C4DE;
    --sprout: #FFD700;
    --sylladexter: #66CDAA;
    --surreal: #6A5ACD;
    --creepa: #7CFC00;
    --seabeam: #FFC0CB;
    --noudele: #9932CC;
    --tc: #7CFC00;
    --bor: #ADD8E6;
    --snowy: #DC143C;
    --punki: #B8860B;
    --bunniapa: #FFB6C1;
    --toosday: #CD5C5C;
    --wilkus: #71AA36;
    --marine: #48D1CC;
    --lex: #FFA07A;
    --astromity: #00FFFF;
    --linkerbee: #D8BFD8;
    --marnie: #9400D3;
    --neby: #556B2F;
    --xnq: #DDA0DD;
    --jo: #e43838;
    --trashcat: #9370DB;

    --hue1: #ff7da2;
    --hue2: #ffe380;
    --hue3: #8aff78;
    --hue4: #cb7eff;
}

/*  ---------- Fonts  ---------- */
@font-face {
    font-family: 'Deltarune';
    src: url("../assets/fonts/Deltarune.ttf") format("truetype");
}

@font-face {
    font-family: '8 Bit Operator';
    src: url('../assets/fonts/8bitoperatorplus-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-size: 150%;
}

@font-face {
    font-family: '8bitoperator JVE';
    src: url('../assets/fonts/8bitoperator_jve.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-size: 170%;
}

@font-face {
    font-family: '8bitoperator JVE2';
    src: url('../assets/fonts/8bitoperator-JVE.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-size: 170%;
}

@font-face {
    font-family:'Crypt of Tomorrow';
    src: url('../assets/fonts/small.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-size: 150%;
}

@font-face {
    font-family: 'DeltaJP';
    src: url('../assets/fonts/ja_main.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-size: 150%;
}

@font-face {
    font-family: '8 Bit Operator Bold';
    src: url('../assets/fonts/8bitoperatorplus-bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-size: 150%;
}

@font-face {
    font-family: 'EASy Text';
    src: url('../assets/fonts/easytext.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'wingdings';
    src: url("../assets/fonts/wingdings.ttf") format("truetype");
}

/* ---------- Generic Styles - Applies to ALL ---------- */
body {
    background-color: var(--background);
    /* sans-serif is the fall back font */
    font-family: var(--font), sans-serif;
    line-height: 170%;
    text-rendering: pixelated;
    font-weight: normal;
    text-shadow: var(--text-shadow);
    cursor: var(--cursor-main);
}

/* ---------- Default Elements ---------- */
p { 
    margin-top: 16px;
    margin-bottom: 16px;
    font-size: 120%;
    text-align: justify;
}

hr {
    margin: 3% 0 ;
    opacity: 0.2;
    /* border-top: 1px solid rgb(22, 22, 22); */
}

a:hover {
    text-shadow: var(--text-shadow-hover);
}

table {
    border: 2px solid;
    border-color: var(--border-color);
    padding: 0px;
}

th {
    text-align: left;
    padding: 20px;
    font-family: var(--font);
}

td {
    text-align: left;
    padding: 20px;
    font-family: var(--secondary_font);
}

tr:nth-child(even) {background-color: #0a0a17;}
tr:nth-child(odd) {background-color: var(--primary_color);}

/* ---------- Headings ---------- */
h1 {
    color: var(--h1);
    font-size:60px;
    margin-top: 25;
    margin-bottom: 25;
    font-family: var(--font);
    text-shadow: none;
}
  
h2 {
    color: var(--h2);
    font-size:40px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: var(--font);
    text-shadow: none;
}
  
h3 {
    color: var(--h3);
    font-size:30px;
    margin-top: 25px;
    margin-bottom: 25px;
    font-family: var(--font);
    text-shadow: none;
}  

/* ---------- Alignment ---------- */
.center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.left {
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

.right {
    text-align: right;
    margin-left: auto;
    margin-right: auto;
}

/* ---------- Classes for Font Weight ---------- */
.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

/* ---------- Container Class ---------- */
.container {
    display: inline;
    padding-right: 6%;
    padding-left: 6%;
}

/* ---------------------------------- */