/* Unique to main pages - Shouldn't apply to anything that isn't on the root folder */

body {
	font-family: var(--secondary-font), sans-serif;
	color: var(--font-color);
	cursor: var(--cursor-main);
}

a {
	text-decoration: none;
	text-shadow: none;
	cursor: var(--cursor-main);
	color: var(--link-alt);
	font-family: var(--font);
	font-size: 150%;
}

li::marker { content: "*  "; }

.credit {
	text-decoration: none;
	text-shadow: none;
	text-align: center;
	color: var(--faint-text);
	font-family: var(--font);
	font-size: 120%;
}

a:hover {
	cursor: var(--cursor-main);
	color: var(--link-hover);
	text-decoration: none;
	text-shadow: none;
}

a:hover.break {
	cursor: var(--cursor-break);
	color: var(--faint-text);
	font-family: var(--font);
}

.grazearea {
	cursor: var(--cursor-main);
	color: transparent;
	/* just setting padding and margin didn't work */
	padding-left: 40px;
	padding-top: 40px;
	padding-right: 40px;
	padding-bottom: 40px;
	margin-left: -40px;
	margin-top: -40px;
	margin-right: -40px;
	margin-bottom: -40px;
}

#graze {
	image-rendering: pixelated;
	position: fixed;
	display: none;
	width: 52px;
	height: 52px;
	pointer-events: none;
}

#explosion {
	image-rendering: pixelated;
	position: fixed;
	display: none;
	pointer-events: none;
}
  
/* Everything in the main box goes in this */
.wrapper {
	width: 90%;
	max-width: 700px;
	/*border: 3px solid black;*/
	margin: 0 auto;
	top: 0px;
}

.smooth {
	image-rendering: smooth;
}

.high-quality {
	image-rendering: high-quality;
}

.pixelated {
	image-rendering: pixelated;
}
	
.tiny {
	font-size: 9px;
	margin: 0 auto;
	text-align: center;
}

header {
	background-color: black;
	display: flex;
	flex-direction: column;
	/* Vertically center items */
	align-items: center;
	padding: 10px;
}

.logo-container {
	margin-top: 30px;
}

.logo-container img {
	margin: 0 auto; /* Center the image horizontally */
	height: auto; /* Make sure logo scales well */
}

main {
	padding: 15px;
	margin: 0 auto;
	background: #000000;
}
	
/*Prevent overflow of large images in main text areas.*/
main img {
	max-width: 100%;
	height: auto;
}

main ul {
    list-style-type: disc;
    padding-inline-start: 40px;
    font-family: var(--secondary-font);
    font-size: 120%;
    text-align: justify;
}

/* Image hover effect for links */
a img.hover {
	display: none;
}
a img.default {
	display: inherit;
}
a:hover img.hover {
	display: inherit;
}
a:hover img.default {
	display: none;
}
	
.small-letters {
	color: var(--faint-text);
	font-size: var(--font-tiny);
}

.flex-container {
	display: flex;
	/* align-items: center; */
	/* justify-content: space-around; */
	justify-content: center;
	flex-wrap: wrap;
    margin-top: 20px;
}

.flex-container > div {
	text-align: center;
	margin: 50px;
	padding: 0px;
}

.flex-container > img {
	height: 400px;
  	width: auto;
	padding: 5px;
}

.flex-container.projects-box {
	/* Fixed width and height for both boxes */
	width: 200px;
	height: 200px; 
}

textarea {
	border: 1px solid var(--textarea-border); 
	font-size: 14px; 
	background-color: var(--textarea); /* !important */ 
	color: white;
	padding: 1%;
	text-align: left;
	margin-bottom: 20px;
}

footer {
	padding: 20px;
	font-weight: bold;
	font-size: 14px;
	line-height: 1.4rem;
	text-align: center;
	color: var(--faint-text);
	text-shadow: var(--text-shadow-footer);
	/* border-top: 1px solid rgb(22, 22, 22); */
}

/******************************************************************************\
*                                 CHAPTERS.HTML                                *
\******************************************************************************/
.chselect {
    background-color: black;
    font-family: var(--font);
    margin-top: 20px;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.chselect ul {
    list-style-type: none;
    padding: 0;
}

.chselect ul a {
    text-decoration: none;
    color: var(--link-default);
    font-size: 250%;
    cursor: var(--cursor-main);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.chselect ul a:hover {
    color: var(--link-hover);
}

.chselect ul a.break:hover {
    cursor: var(--cursor-break);
    color: var(--faint-text);
}

.chselect li {
    display: inline;
    line-height: 70px;
    margin: 0 10px 10px 20px;
}

.chselect hr {
    margin: 1.5% 0;
    opacity: 0.2;
}

.chapter-list {
    list-style-type: none;
    padding: 0;
}

.chapter-list li {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.chapter-list li a span {
    display: inline-block;
}

.chapter-list li a .chapter-title {
	text-align: center;
    flex: 1;
}

.chapter-icon {
    display: flex;
    justify-content: flex-end;
}

.chapter-icon img {
    width: 78px;
    height: 69px;
}

.chapter-icon img.hover {
    display: none;
}

.chapter-list li a:hover .chapter-icon img.default {
    display: none;
}

.chapter-list li a:hover .chapter-icon img.hover {
    display: block;
}

#chselect-landscape {
    display: inline-block;
}

#chselect-portrait {
    display: none;
}

/******************************************************************************\
 *                                404.HTML                                     *
\******************************************************************************/
body.notfound-page {
	background: black;
	image-rendering: pixelated;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
}

.notfound-text {
	/* Centering the text on the screen */
	text-align: center;
	position: fixed; /* or absolute */
	top: 50%;
	left: 50%;
	/* bring your own prefixes */
	transform: translate(-50%, -50%);
}

.team {
	display: flex;
	justify-content: left;
    align-items: center;
	padding-bottom: 0 auto;
}

.team a {
	font-size: 30px;
	font-family: var(--font);
	text-decoration: underline;
}

.team p {
	font-size: 18px;
	font-family: var(--secondary-font);
	text-align: left;
	text-shadow: none;
	margin-top: 0px;
	margin-bottom: 0px;
}

.team p.right {
	font-size: 18px;
	font-family: var(--secondary-font);
	text-align: right;
	text-shadow: none;
	margin-top: 0px;
	margin-bottom: 0px;
}

.team role {
	font-size: 25px;
	font-family: var(--font);
	text-align: left;
	text-shadow: none;
	margin-top: 0px;
	margin-bottom: 0px;
}

.team img {
    max-width: 30%;
    max-height: 30%;
	padding-left: 30px;
	padding-right: 30px;
}

.team hue a {
	font-family: var(--font);
	font-size: 30px;
	text-decoration: underline;
	text-decoration-color: rgb(56, 56, 56);
	text-shadow: none;
	background: linear-gradient(90deg, var(--hue1), var(--hue2), var(--hue3), var(--hue4));
  	background-clip: text;
  	-webkit-text-fill-color: transparent;
}

.team hue p {
	font-size: 18px;
	text-shadow: none;
	background: linear-gradient(90deg, var(--hue1), var(--hue2), var(--hue3), var(--hue4));
  	background-clip: text;
  	-webkit-text-fill-color: transparent;
	margin-top: 0px;
	margin-bottom: 0px;
}

.team hue p.role {
	font-size: 25px;
	text-shadow: none;
	font-family: var(--font);
	background: linear-gradient(90deg, var(--hue1), var(--hue2), var(--hue3), var(--hue4));
  	background-clip: text;
  	-webkit-text-fill-color: transparent;
	margin-top: 0px;
	margin-bottom: 0px;
}

#canvas {
	display: block;
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0); /* Transparent background - GPT*/
	pointer-events: none; /* Allow clicks to go through - GPT*/
}

.hue p {
	font-size: 120%;
	text-align: justify;
	text-shadow: none;
	background: linear-gradient(90deg, var(--hue1), var(--hue2), var(--hue3), var(--hue4));
  	background-clip: text;
  	-webkit-text-fill-color: transparent;
}
	
::selection { color:rgba(255, 255, 255, 1); background:  rgb(0, 171, 201, 0.5);}

/******************************************************************************\
*                               MEDIA QUERIES                                  *
\******************************************************************************/
/* Tablet */
@media (max-width: 768px) {

	#chselect-landscape {
		display: none;
	}
	
	#chselect-portrait {
		display: inline-block;
	}

	#chselect-portrait li a {
		flex-direction: column;
        text-align: center;
	}
	
	#chselect-portrait li {
		display: inline;
		line-height: 50px;
		margin: auto;
	}

	#chselect-portrait li a {
		flex-direction: column;
        text-align: center;
	}

	#chselect-portrait li a .chapter-title {
		font-size: 70%;
	}
	
	#chselect-portrait .chapter-icon img {
		width: 78px;
		height: 69px;
		margin: 10px 0 10px 0;
	}

	/* except for the .other-links container that should keep row style */
    .flex-container > .other-links {
        flex-direction: column;
        align-items: center;
    }
}

/* Mobile */
@media (max-width: 480px) {

    .flex-container {
        margin: 0;
    }

    .flex-container a {
        margin: 5px;
    }
}
