/* Reset box model */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Remove default anchor styles */
a {
	text-decoration: none;
	color: inherit;
}

/* Remove default button styles */
/* button, input, select {
	background: none;
	border: none;
	outline: none;
	font-family: inherit;
} */
