/* ---------- Basic Stuff ---------- */
body {
    background-color: black;
    background-image: url("/assets/img/goner/hplays/bg_fire.png");
	background-attachment: fixed;
    color: white;
    font-family: monospace;
	font-size: large;
	font-weight: normal;
	text-align: left;
}

.wrapper {
    max-width: 1000px;
	background-color: #00000097;
}

.tab-buttons {
	background-color: #202428;
	border-radius: 0;
	border: none;
	padding: 20px;
	text-align: left;
}

.tab-buttons .spacename {
	float: right;
}

.tab-btn {
	background-color: #9aa6b0;
	color: #202428;
	border-radius: 0;
	font-family: monospace;
	font-size: large;
}

.tab-btn:hover {
	background-color: #32373d;
  	color: white;
}

.tab-contents {
	background-color: #2A2F33;
	padding: 10px;
	border-radius: 0;
}

a {
	color: #9191ab;
}

a.disabled {
    color: #777;
}

hr {
	border: #777 1px solid;
}

.alert {
	border-radius: 0;
}

/* ---------- Posts ---------- */
.post .title {
	border-radius: 0;
	background-color: #202428;
	font-size: x-large;
}

.post .postbody {
	background-color: #2A2F33;
}

.post .footer {
	border-radius: 0;
	background-color: #202428;
	font-family: monospace;
}

/* ---------- Comments ---------- */
.comment {
	background: #202428;
	border-radius: 0;
}

.comment .author {
    background: #2A2F33;
    font-size: large;
	border-radius: 0;
}

.comment .comment-body {
	font-size: large;
}

.comment.reply .comment-body {
	background: #2A2F33;
	border-radius: 0;
	font-size: large;
}

/* ---------- Collapsible Comment Button ---------- */
.comment-btn {
	color: #9191ab;
	font-family: monospace;
}

.comment-btn:active { /* <-- This happens only once when the element is clicked */
    background-color: #9aa6b0;
	color: white;
}