/* ---------------------- CHARACTER PAGES (ASTRAL DISC) ---------------------- */
section {
    display: none;
}

.wrapper {
    width: 1500px;
}

.profile-container {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.character-profile {
	display: none; /* Hide all profiles by default */
	text-align: center;
}

.character-profile.active {
	display: block;
}

.chara-button {
	cursor: var(--cursor-main);
	background-color: #000000;
	width: 30%;
	height: 30%;
	padding: 2px;
	border: none;
	transition: .4s ease;
	margin-right: 0.8em;
}

.character-profile table {
    margin: 0 auto;
}

.chara-button:hover .chara-button-text {
	color: var(--link-hover);
	transition: .4s ease;
}

.chara-img {
	width: 80%;
	height: 80%;
}

.chara-button-text {
	font-family: var(--font);
	font-size: 24px;
	color: var(--font-color);
	text-shadow: none;
	text-align: center;
}

.chara-button.active {
	background-color: var(--unselected-darkest);
	color: var(--link-hover);
	transition: .4s ease;
}
