body {
    background-image: url("/assets/img/blog/noelle/bg-tree.png");
    background-color: #ffd5ef;
    font-family: "Georgia", Georgia, serif;
}

h1, h2, h3 {
    font-family: "Georgia",
    Georgia, serif; 
}

.header {
    background: #EFBCE7;
}

.header .welcome {
    flex-grow: 1;
    max-width: 80%;
    object-fit: contain;
}

.header .ornament {
    flex-grow: 1;
    margin-left: 1rem;
    max-width: 20%;
    max-height: 100px;
    object-fit: contain;
}

.post {
    background: #EFBCE7;
}

.comment .author {
    background: #EFBCE7;
}

.comment .comment-body {
    background-color: #ffd5ef;
}