/* ---------- Basic Stuff ---------- */
body {
    background-color: black;
    background-image: url("../../assets/img/goner/hplays/bg_fire.png");
	background-attachment: fixed;
    color: white;
    font-family: monospace;
	font-size: large;
	font-weight: normal;
	text-align: left;
}

.wrapper {
    max-width: 1000px;
	background-color: #00000097;
}

.tab-buttons {
	background-color: #202428;
	border-radius: 0;
	border: none;
	padding: 20px;
	text-align: left;
}

.tab-buttons .spacename {
	float: right;
	padding-top: 8px;
}

.tab-btn {
	background-color: #9aa6b0;
	color: #202428;
	border-radius: 0;
	font-family: monospace;
	font-size: large;
}

.tab-btn:hover {
	background-color: #32373d;
  	color: white;
}

.tab-contents {
	background-color: #2A2F33;
	padding: 10px;
}

a {
	color: #9191ab;
}

a.disabled {
    color: #777;
}

hr {
	border: #777 1px solid;
}

.alert {
	border-radius: 0;
}

.posts {
	padding-top: 20px;
	padding-bottom: 20px;
}

.post {
	padding-bottom: 20px;
}

.post .title {
	background-color: #202428;
	padding: 20px;
	text-align: left;
	font-size: x-large;
	font-weight: bold;
}

.post .postbody {
	background-color: #2A2F33;
	padding: 30px;
}

.post .footer {
	background-color: #202428;
	font-family: monospace;
	font-size: small;
	font-weight: bold;
	padding: 8px;
	display: flex;
	gap: 10px;
}

.post .footer .icon {
    height: 16px;
    width: 16px;
    margin-right: 0.25rem;
    vertical-align: middle;
}

.comments {
    display: none;
    font-size: 12px;
    overflow: hidden;
    text-align: left;
    line-height: 20px;
}

.comments.active {
	display: block;
}

.comment {
	background: #202428;
	margin-top: 20px;
	margin-bottom: 20px;
}

.comment .author {
    background: #2A2F33;
    padding: 1% 3%;
    font-size: large;
}

.comment .author .icon {
	height: 16px;
    width: 16px;
    margin-right: 0.05rem;
    vertical-align: middle;
}

.comment.reply {
    padding-left: 4%;
	margin-left: 50px;
    margin-bottom: 20px;
	background: none;
}

.comment.reply .comment-body {
	background: #2A2F33;
}

.comment .author .timestamp {
    float: right;
    font-size: small;
}

.comment .comment-body {
    padding: 1% 3%;
	font-size: large;
}

/* ---------- Collapsible ---------- */
.collapsible {
    border: none;
	background: none;
	color: #9191ab;
	font-family: monospace;
	font-size: small;
	padding: 0;
	text-decoration: underline;
}

.collapsible:active { /* <-- This happens only once when the element is clicked */
    background-color: #9aa6b0;
	color: white
}